<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Playlist Curator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">

</head>

<body>
    <div id="app">
        <button v-on:click="logout" v-if="authed" class="logout-btn">
            Logout
        </button>
        <div class="notification" v-if="notification">
            {{ notification }}
        </div>
        <div class="card" v-if="! authed">
            <h1>Playlist Curator</h1>
            <p>You are not currently logged in.</p>
            <button v-on:click="auth" class="spotify-btn">Login with Spotify</button>
        </div>

        <div class="main-wrapper" v-if="authed">
            <main class="card-offset">
                <div class="intro">
                    <h1>Playlist Curator</h1>
                    <p>
                        This is a minimal, simple, playlist builder which allows you to quickly create and save playlists to Spotify. Useful if you
                        are in a hurry, don't have access to a Spotify application or just want to create playlists quicker!
                    </p>
                    <p>
                        Simply search for a song, click the '+' button, give the playlist a name over on the right and click 'Save Playlist'!
                    </p>
                    <p>
                        A project by <a href="https://github.com/scottharrisondev">Scott Harrison</a>
                    </p>
                </div>
                <div class="search">
                    <label class="sr-only">Search</label>
                    <input type="text" v-model="search.string" placeholder="Search for a track...">
                </div>
                <div class="results" v-bind:class="{'active': search.results.length > 0}">
                    <ul v-if=" search.results.length > 0">
                        <li v-for="result in search.results">
                            <div>
                                <img class="album-art" v-bind:src="result.album.images[0].url">
                            </div>
                            <div class="song-data-container">
                                <p class="song-name">{{ result.name }}</p>
                                <p class="artist-name">{{ getArtists(result.artists) }}</p>
                            </div>
                            <div class="add-song-container">
                                <button class="add-song" v-on:click="selectTrack(result)">+</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            oie
            {{playlist.tracks.length}}
            <aside class="sidebar" v-bind:class="{active: playlist.tracks.length}">
                <input class="new-playlist-input" type="text" v-model="playlist.name">
                <hr>
                <div class="help-text" v-if="defaultPlaylistName">
                    Enter your new playlist name above.
                </div>
                <ul v-if="playlist.tracks">
                    <li v-for="track in playlist.tracks">
                        <div>
                            <img class="album-art" v-bind:src="track.album.images[0].url">
                        </div>
                        <div class="relative">
                            <p class="song-name">{{ track.name }}</p>
                            <p class="artist-name">{{ track.artists[0].name }}</p>
                        </div>
                        <div class="relative controls">
                            <button class="remove-song" v-on:click="removeTrack(track)">-</button>
                        </div>
                    </li>
                </ul>
                <div class="controls">
                    <button v-on:click="createPlaylist()" v-if="playlist.tracks.length && ! defaultPlaylistName">Save Playlist</button>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="vue-app.js"></script>
    <script src="p5.min.js"></script>
    <script src="bg.js"></script>
</body>

</html>