<!-- 
TODO
1. auth as user
2. create playlist - https://developer.spotify.com/documentation/web-api/reference/playlists/create-playlist/
3. add songs to playlist - https://developer.spotify.com/documentation/web-api/reference/playlists/replace-playlists-tracks/
4. style site
 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Playlist Curator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1>Playlist Curator</h1>

    <div id="app">

        <div class="explorer">
            <label>Search</label>
            <input type="text" id="searchString" v-model="searchString">
            <ul>
                <li v-for="track in tracklist">
                    {{ track.name }} - {{ track.artists[0].name }}
                    <button v-on:click="selectTrack(track.uri)">Add</button>
                </li>
            </ul>
        </div>

        <div class="playlist">
            <h2>Playlist</h2>
            <ul>
                <li v-for="track in selectedTracks">
                    {{ track }}
                </li>
            </ul>
        </div>

        <div class="controls">
            <button v-on:click="createPlaylist()">
                Create Playlist
            </button>
            <button v-on:click="addSongsToPlaylist()">
                Add Songs To Playlist
            </button>
            <button v-on:click="auth()">
                Auth
            </button>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <script>
        const userId = 'mocup';
        const spotifyUrl = 'https://api.spotify.com/v1/';

        let app = new Vue({
            el: "#app",
            data: {
                searchString: '',
                tracklist: [],
                selectedTracks: [],
                playlistId: ''
            },
            watch: {
                searchString: function (newVal, oldVal) {
                    if (newVal.length < 3) {
                        this.tracklist = [];
                        return;
                    }
                    this.$http.get(`${spotifyUrl}search?q=${encodeURI(newVal)}&type=track`, { headers: { 'Authorization': `Bearer ${userToken}` } }).then(response => {
                        this.tracklist = response.body.tracks.items.slice(0, 3);
                    });
                }
            },
            methods: {
                selectTrack: function (track) {
                    if (this.selectedTracks.includes(track)) return;
                    this.selectedTracks.push(track);
                },
                createPlaylist: function () {
                    const playlist = {
                        name: 'test playlist',
                        public: false,
                        description: 'Created with Spotify Playlist Curator'
                    }
                    this.$http.post(`${spotifyUrl}users/${userId}/playlists`, JSON.stringify(playlist), { headers: { 'Authorization': `Bearer ${userToken}`, 'Content-Type': 'application/json' } }).then(response => {
                        this.playlistId = response.body.id;
                    });
                },
                addSongsToPlaylist: function () {
                    this.$http.put(`${spotifyUrl}users/${userId}/playlists/${this.playlistId}/tracks`, JSON.stringify({ uris: this.selectedTracks }), { headers: { 'Authorization': `Bearer ${userToken}`, 'Content-Type': 'application/json' } }).then(response => {
                        this.playlistId = response.body.id;
                    });
                },
                auth: function () {

                }
            }
        });
    </script>
</body>

</html>